* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* body {
  width: 100%;
  overflow-x: hidden;
}

* body header {
  position: fixed;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 0 0 2rem 2rem;
  padding: 5px 0;
  z-index: 1000;
}

* body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* body header nav a {
  text-decoration: none;
  font-size: 1.3em;
  margin: 0 5px;
  color: #ff2222;
}

* body .Home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./../../Image/Background/01.jpg") center center/cover no-repeat;
}

* body .Home h1 {
  text-align: center;
  font-size: 10em;
  line-height: 100%;
  color: #fff;
}

* body main {
  position: relative;
  width: 100%;
}

* body main .Banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 3px 0 3px;
}

* body main .Banner a {
  margin: 5px 0;
}

* body main .Banner a img {
  width: calc(300px * 2.5);
  height: calc(65px * 2.5);
  border-radius: 8px;
}

* body main .Title {
  text-align: center;
  color: #ff2222;
  font-size: 3em;
  line-height: calc(100% + 50px);
}

* body main .New {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

* body main .New a {
  position: relative;
}

* body main .New a img {
  position: relative;
  width: calc(100px * 2);
  height: calc(150px * 2);
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

* body main .New a:hover img {
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

* body main .TheLastPost {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

* body main .TheLastPost .Post {
  position: relative;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
}

* body main .TheLastPost .Post .Brand {
  max-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff0000;
}

* body main .TheLastPost .Post .Brand img {
  width: 90%;
  margin: 5px 0;
  border-radius: 50%;
}

* body main .TheLastPost .Post .Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px 0 5px;
}

* body main .TheLastPost .Post .Text .info article {
  font-size: 0.9em;
  margin: 5px 0;
}

* body main .TheLastPost .Post .Text .info article strong {
  color: #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* body main .TheLastPost .Post .Text .info article strong p {
  color: #000000;
  font-weight: normal;
  line-height: calc(100% + 2px);
}

* body main .TheLastPost .Post .Text a {
  text-align: center;
  width: 110px;
  background: #ff0000;
  padding: 6px 0;
  border-radius: 6px;
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

* body main .TheLastPost .Post .Text a:hover {
  color: #444;
  background: #e2e205;
}

* body main .TheLastPost .Post img {
  width: 200px;
}

* body main.PostInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main.PostInfo img.Cover {
  width: 350px;
  border-radius: 10px;
  margin: 20px 0;
}

* body main.PostInfo .Information {
  max-width: calc(800px - calc(7px * 2));
  border: 2px #ff2222 solid;
  padding: 5px 7px;
  border-radius: 10px;
  margin: 0 auto;
}

* body main.PostInfo .Information article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2px 0;
  font-size: 0.9em;
}

* body main.PostInfo .Information article strong {
  color: #ff2222;
}

* body main.PostInfo .Information article p {
  line-height: calc(100% + 5px);
}

* body main.PostInfo .Link {
  width: 300px;
  margin: 20px 0;
}

* body main.PostInfo .Link a {
  display: block;
  text-align: center;
  padding: 7px 0;
  margin: 3px 0;
  background: #ff2222;
  border: 2px #ff2222 solid;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

* body main.PostInfo .Link a:hover {
  color: #ff2222;
  background: #fff;
}

* body footer {
  background: #ff2222;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

* body footer section {
  width: 50%;
  padding: 0 50px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body footer section h2 {
  color: #fff;
  font-size: 2.5em;
}

* body footer section p {
  line-height: calc(100% + 10px);
  color: #e0e0e0;
}

* body footer section article {
  margin-bottom: 5px;
}

* body footer section article strong {
  color: #fff;
}

* body footer section article strong ion-icon {
  margin-bottom: -1.5px;
}

@media screen and (max-width: 1600px) {
  body .Home h1 {
    font-size: 7em;
  }
  body main .Banner a img {
    width: calc(300px * 2);
    height: calc(65px * 2);
    border-radius: 8px;
  }
  body main .New a:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  body main .Banner a img {
    width: calc(300px * 1.8);
    height: calc(65px * 1.8);
  }
}

@media screen and (max-width: 1200px) {
  body main .Banner a img {
    width: calc(300px * 1.6);
    height: calc(65px * 1.6);
  }
}

@media screen and (max-width: 1080px) {
  body main .Banner a img {
    width: calc(300px * 1.4);
    height: calc(65px * 1.4);
  }
  body main .New a img {
    width: calc(100px * 1.8);
    height: calc(150px * 1.8);
  }
  body main .New a:nth-child(6) {
    display: none;
  }
  body main .TheLastPost {
    width: 100%;
  }
  body main .TheLastPost .Post {
    width: 700px;
  }
  body main .TheLastPost .Post .Brand {
    max-width: 40px;
  }
  body main .TheLastPost .Post .Text {
    font-size: 0.9em;
  }
  body main .TheLastPost .Post .Text a {
    font-size: 0.8em;
  }
  body main .TheLastPost .Post img {
    width: 150px;
  }
}

@media screen and (max-width: 950px) {
  body header nav a {
    font-size: 0.8em;
  }
  body main .Banner a img {
    width: calc(300px * 1.2);
    height: calc(65px * 1.2);
  }
  body main .New a img {
    width: calc(100px * 1.5);
    height: calc(150px * 1.5);
  }
  body main .TheLastPost .Post {
    width: 600px;
  }
  body main .TheLastPost .Post .Brand {
    max-width: 35px;
  }
  body main .TheLastPost .Post .Text {
    font-size: 0.8em;
  }
  body main .TheLastPost .Post .Text a {
    font-size: 0.7em;
    width: 90px;
  }
  body main .TheLastPost .Post img {
    width: 150px;
  }
}

@media screen and (max-width: 800px) {
  body main .Banner a img {
    width: calc(300px * 1);
    height: calc(65px * 1);
  }
  body main .New a img {
    width: calc(100px * 1.4);
    height: calc(150px * 1.4);
  }
  body main .New a:nth-child(5) {
    display: none;
  }
  body footer {
    background: #ff2222;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  body footer section {
    max-width: 350px;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body footer section h2 {
    color: #fff;
    font-size: 2em;
  }
  body footer section p {
    line-height: calc(100% + 10px);
    color: #e0e0e0;
    font-size: .8em;
  }
  body footer section article {
    text-align: left;
    margin-bottom: 5px;
    font-size: .8em;
  }
  body footer section article strong {
    color: #fff;
  }
  body footer section article strong ion-icon {
    margin-bottom: -1.5px;
  }
  body footer section article p {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  body main .Banner a img {
    width: calc(300px * 0.9);
    height: calc(65px * 0.9);
  }
}

@media screen and (max-width: 600px) {
  body main .New a:nth-child(4) {
    display: none;
  }
  body main .TheLastPost .Post {
    width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body main .TheLastPost .Post .Brand {
    display: none;
  }
  body main .TheLastPost .Post .Text {
    padding: 0;
  }
  body main .TheLastPost .Post .Text .info {
    padding: 0 5px;
    margin-bottom: 10px;
  }
  body main .TheLastPost .Post .Text .info article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .TheLastPost .Post .Text .info article strong {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .TheLastPost .Post .Text .info article strong p {
    padding-left: 10px;
  }
  body main .TheLastPost .Post .Text a {
    border-radius: 0;
    width: 100%;
    font-size: 0.9em;
    padding: 7px 0;
  }
  body main .TheLastPost .Post img {
    width: 100%;
  }
}

@media screen and (max-width: 558px) {
  body main .Banner a {
    margin: 2px;
  }
  body main .Banner a img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 445px) {
  body .Home h1 {
    font-size: 4em;
  }
  body main .Title {
    font-size: 2em;
  }
  body main .New a:nth-child(3) {
    display: none;
  }
}
/*# sourceMappingURL=Style.css.map */