* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  body {
    width: 100%;
    overflow-x: hidden;

    header {
      position: fixed;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: #fff;
      border-radius: 0 0 2rem 2rem;
      padding: 5px 0;
      z-index: 1000;

      nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
          text-decoration: none;
          font-size: 1.3em;
          margin: 0 5px;
          color: #ff2222;
        }
      }
    }

    .Home {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("./../../Image/Background/01.jpg") center center / cover
        no-repeat;

      h1 {
        text-align: center;
        font-size: 10em;
        line-height: 100%;
        color: #fff;
      }
    }

    main {
      position: relative;
      width: 100%;

      .Banner {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 3px 0 3px;

        a {
          margin: 5px 0;

          img {
            width: calc(300px * 2.5);
            height: calc(65px * 2.5);
            border-radius: 8px;
          }
        }
      }

      .Title {
        text-align: center;
        color: #ff2222;
        font-size: 3em;
        line-height: calc(100% + 50px);
      }

      .New {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 10px;

        a {
          position: relative;

          img {
            position: relative;
            width: calc(100px * 2);
            height: calc(150px * 2);
            border-radius: 8px;
            transition: box-shadow 0.3s ease;
          }

          &:hover {
            img {
              box-shadow: 0 0 30px rgba($color: #000000, $alpha: 1);
            }
          }
        }
      }

      .TheLastPost {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;

        .Post {
          position: relative;
          width: 800px;
          display: flex;
          border-radius: 20px;
          margin: 0 auto;
          overflow: hidden;
          margin-bottom: 20px;

          .Brand {
            max-width: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #ff0000;

            img {
              width: 90%;
              margin: 5px 0;
              border-radius: 50%;
            }
          }

          .Text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 5px 0 5px;

            .info {
              article {
                font-size: 0.9em;
                margin: 5px 0;
                strong {
                  color: #ff0000;
                  display: flex;
                  flex-direction: row;
                  p {
                    color: #000000;
                    font-weight: normal;
                    line-height: calc(100% + 2px);
                  }
                }
              }
            }

            a {
              text-align: center;
              width: 110px;
              background: #ff0000;
              padding: 6px 0;
              border-radius: 6px;
              font-size: 0.9em;
              color: #fff;
              text-decoration: none;
              transition: 0.2s ease-in-out;

              &:hover {
                color: #444;
                background: #e2e205;
              }
            }
          }

          img {
            width: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  body {
    .Home {
      h1 {
        font-size: 7em;
      }
    }
    main {
      .Banner {
        a {
          img {
            width: calc(300px * 2);
            height: calc(65px * 2);
            border-radius: 8px;
          }
        }
      }
      .New {
        a:nth-child(6) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px){
  body{
    main{
      .Banner{
        a{
          img{
            width: calc(300px * 1.8);
            height: calc(65px * 1.8);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  body{
    main{
      .Banner{
        a{
          img{
            width: calc(300px * 1.6);
            height: calc(65px * 1.6);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  body {
    main {
      .Banner{
        a{
          img{
            width: calc(300px * 1.4);
            height: calc(65px * 1.4);
          }
        }
      }
      .New {
        a {
          img {
            width: calc(100px * 1.8);
            height: calc(150px * 1.8);
          }

          &:nth-child(6) {
            display: none;
          }
        }
      }
      .TheLastPost {
        width: 100%;

        .Post {
          width: 700px;
          .Brand {
            max-width: 40px;
          }
          .Text {
            font-size: 0.9em;
            a {
              font-size: 0.8em;
            }
          }
          img {
            width: 150px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  body {
    header {
      nav {
        a {
          font-size: 0.8em;
        }
      }
    }
    main {
      .Banner{
        a{
          img{
            width: calc(300px * 1.2);
            height: calc(65px * 1.2);
          }
        }
      }
      .New {
        a {
          img {
            width: calc(100px * 1.5);
            height: calc(150px * 1.5);
          }
        }
      }
      .TheLastPost {
        .Post {
          width: 600px;
          .Brand {
            max-width: 35px;
          }
          .Text {
            font-size: 0.8em;
            a {
              font-size: 0.7em;
              width: 90px;
            }
          }
          img {
            width: 150px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    main {
      .Banner{
        a{
          img{
            width: calc(300px * 1);
            height: calc(65px * 1);
          }
        }
      }
      .New {
        a {
          img {
            width: calc(100px * 1.4);
            height: calc(150px * 1.4);
          }
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  body{
    main{
      .Banner{
        a{
          img{
            width: calc(300px * .9);
            height: calc(65px * .9);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    main {
      .New {
        a {
          &:nth-child(4) {
            display: none;
          }
        }
      }
      .TheLastPost {
        .Post {
          width: 250px;
          flex-direction: column-reverse;
          .Brand {
            display: none;
          }
          .Text {
            padding: 0;
            .info {
              padding: 0 5px;
              article {
                flex-direction: column;
                strong {
                  flex-direction: column;
                  p {
                    padding-left: 10px;
                  }
                }
              }
              margin-bottom: 10px;
            }
            a {
              border-radius: 0;
              width: 100%;
              font-size: 0.9em;
              padding: 7px 0;
            }
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 558px){
  body{
    main{
      .Banner{
        a{
          margin: 2px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 445px){
  body{
    .Home{
      h1{
        font-size: 4em;
      }
    }
    main{
      .Title{
        font-size: 2em;
      }
      .New{
        a:nth-child(3){
          display: none;
        }
      }
    }
  }
}