* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* body {
  width: 100%;
  overflow-x: hidden;
}

* body header {
  position: fixed;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 0 0 2rem 2rem;
  padding: 5px 0;
  z-index: 1000;
}

* body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* body header nav a {
  text-decoration: none;
  font-size: 1.3em;
  margin: 0 5px;
  color: #ff2222;
}

* body .Home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./../../Image/Background/01.jpg") center center/cover no-repeat;
}

* body .Home h1 {
  text-align: center;
  font-size: 10em;
  line-height: 100%;
  color: #fff;
}

* body main {
  position: relative;
  width: 100%;
}

* body main .Banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 3px 0 3px;
}

* body main .Banner a {
  margin: 5px 0;
}

* body main .Banner a img {
  width: calc(300px * 3);
  height: calc(65px * 3);
  border-radius: 8px;
}

* body main .Title {
  text-align: center;
  color: #ff2222;
  font-size: 3em;
  line-height: calc(100% + 50px);
}

* body main .New {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

* body main .New a {
  position: relative;
}

* body main .New a img {
  position: relative;
  width: calc(100px * 2.5);
  height: calc(150px * 2.5);
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

* body main .New a:hover img {
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

* body main .TheLastPost {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

* body main .TheLastPost .Post {
  position: relative;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}

* body main .TheLastPost .Post .Brand {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff0000;
}

* body main .TheLastPost .Post .Brand img {
  width: 60px;
  margin: 5px 0;
  border-radius: 50%;
}

* body main .TheLastPost .Post .Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px 0 5px;
}

* body main .TheLastPost .Post .Text .info article {
  font-size: 1.3em;
  margin: 3px 0;
}

* body main .TheLastPost .Post .Text .info article strong {
  color: #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* body main .TheLastPost .Post .Text .info article strong p {
  color: #000000;
  font-weight: normal;
}

* body main .TheLastPost .Post .Text a {
  text-align: center;
  width: 130px;
  background: #ff0000;
  padding: 7px 0;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

* body main .TheLastPost .Post .Text a:hover {
  color: #444;
  background: #e2e205;
}

* body main .TheLastPost .Post img {
  width: 300px;
}

@media screen and (max-width: 1600px) {
  body .Home h1 {
    font-size: 7em;
  }
  body .New a:nth-child(5) {
    display: none;
  }
  body main .TheLastPost {
    max-width: 1200px;
  }
  body main .TheLastPost .Post {
    max-width: 1400px;
  }
}

@media screen and (max-width: 1400px) {
  body main .New a:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background: crimson;
  }
  body main .TheLastPost {
    width: 100%;
  }
  body main .TheLastPost .Post {
    max-width: 950px;
  }
}
/*# sourceMappingURL=Style.css.map */