* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  body {
    width: 100%;
    overflow-x: hidden;

    header {
      position: fixed;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: #fff;
      border-radius: 0 0 2rem 2rem;
      padding: 5px 0;
      z-index: 1000;

      nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
          text-decoration: none;
          font-size: 1.3em;
          margin: 0 5px;
          color: #ff2222;
        }
      }
    }

    .Home {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("./../../Image/Background/01.jpg") center center / cover
        no-repeat;

      h1 {
        text-align: center;
        font-size: 10em;
        line-height: 100%;
        color: #fff;
      }
    }

    main {
      position: relative;
      width: 100%;

      .Banner {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 3px 0 3px;

        a {
          margin: 5px 0;

          img {
            width: calc(300px * 3);
            height: calc(65px * 3);
            border-radius: 8px;
          }
        }
      }

      .Title {
        text-align: center;
        color: #ff2222;
        font-size: 3em;
        line-height: calc(100% + 50px);
      }

      .New {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 10px;

        a {
          position: relative;

          img {
            position: relative;
            width: calc(100px * 2.5);
            height: calc(150px * 2.5);
            border-radius: 8px;
            transition: box-shadow 0.3s ease;
          }

          &:hover {
            img {
              box-shadow: 0 0 30px rgba($color: #000000, $alpha: 1);
            }
          }
        }
      }

      .TheLastPost {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;

        .Post {
          position: relative;
          max-width: 1400px;
          display: flex;
          border-radius: 20px;
          margin: 0 auto;
          overflow: hidden;

          .Brand {
            width: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #ff0000;

            img {
              width: 60px;
              margin: 5px 0;
              border-radius: 50%;
            }
          }

          .Text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 5px 0 5px;

            .info {
              article {
                font-size: 1.3em;
                margin: 3px 0;
                strong {
                  color: #ff0000;
                  display: flex;
                  flex-direction: row;
                  p {
                    color: #000000;
                    font-weight: normal;
                  }
                }
              }
            }

            a {
              text-align: center;
              width: 130px;
              background: #ff0000;
              padding: 7px 0;
              border-radius: 6px;
              color: #fff;
              text-decoration: none;
              transition: 0.2s ease-in-out;

              &:hover {
                color: #444;
                background: #e2e205;
              }
            }
          }

          img {
            width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  body {
    .Home {
      h1 {
        font-size: 7em;
      }
    }

    .New {
      a:nth-child(5) {
        display: none;
      }
    }

    main {
      .TheLastPost {
        max-width: 1200px;

        .Post {
          max-width: 1400px;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  body {
    main {
      .New {
        a:nth-child(6) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    background: crimson;
    main {
      .TheLastPost {
        width: 100%;

        .Post {
          max-width: 950px;
        }
      }
    }
  }
}
