* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  header {
    position: fixed;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    border-radius: 0 0 2rem 2rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: 0.7);
    z-index: 1000;
    nav {
      margin: 2px;
      a {
        margin: 2px;
        color: $top-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9em;
      }
    }
    input {
      color: #333;
      margin: 2px;
      border: 1px $top-color solid;
      border-radius: 5px;
      padding: 2px 4px;
    }
  }
  .bg-img {
    width: 100vw;
    height: 100vh;
    background: url("./../../Image/Background/01.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      min-width: 600px;
      color: #fff;
      text-align: center;
      font-size: 5em;
      border: 2rem #fff solid;
      border-left: 0;
      border-right: 0;
      border-radius: 5rem;
    }
  }
}
